table { border-collapse: collapse; }
td, th { padding: 0.3em; border: 1px solid; }
table .ChargeBy { font-size: smaller; }
.ChargeBy caption { text-align: right; }
.ChargeBy td { padding: 0 0.1em; border: none; }
.Requirements td { padding: 0.2em; border: none; }
.Requirements .total { font-weight: bold; border-top: 1px solid; }
table .StatBonuses { font-size: smaller; }
.StatBonuses td { padding: 0.2em; border: none; }
.anchor { display:block; position:relative; top:-2em; }
.anchor:target + .Name { outline:#808080 1px dotted; font-size: larger; }
.Name { font-weight: bold; }
.Subtitle { font-style: italic; }
td > i { width: 64px; height: 64px; display: block; background-image: url(sprites.png); }
.BUILDABLE\.BEACON { background-position: -64px -0px; } 
.BUILDABLE\.BED { background-position: -128px -0px; } 
.BUILDABLE\.BIODOME { background-position: -192px -0px; } 
.BUILDABLE\.CHAIR001 { background-position: -256px -0px; } 
.BUILDABLE\.CHAIR002 { background-position: -320px -0px; } 
.BUILDABLE\.CHAIR003 { background-position: -384px -0px; } 
.BUILDABLE\.CONTAINER\.0 { background-position: -448px -0px; } 
.BUILDABLE\.CONTAINER\.1 { background-position: -512px -0px; } 
.BUILDABLE\.CONTAINER\.2 { background-position: -576px -0px; } 
.BUILDABLE\.CONTAINER\.3 { background-position: -640px -0px; } 
.BUILDABLE\.CONTAINER\.4 { background-position: -704px -0px; } 
.BUILDABLE\.CONTAINER\.5 { background-position: -768px -0px; } 
.BUILDABLE\.CONTAINER\.6 { background-position: -832px -0px; } 
.BUILDABLE\.CONTAINER\.7 { background-position: -896px -0px; } 
.BUILDABLE\.CONTAINER\.8 { background-position: -960px -0px; } 
.BUILDABLE\.CONTAINER\.9 { background-position: -0px -64px; } 
.BUILDABLE\.CORRIDOR { background-position: -64px -64px; } 
.BUILDABLE\.CORRIDOR_L { background-position: -128px -64px; } 
.BUILDABLE\.CORRIDOR_T { background-position: -192px -64px; } 
.BUILDABLE\.CORRIDOR_WINDOW { background-position: -256px -64px; } 
.BUILDABLE\.CORRIDOR_X { background-position: -320px -64px; } 
.BUILDABLE\.CUBECURVEROOF { background-position: -384px -64px; } 
.BUILDABLE\.CUBECURVEWALL { background-position: -448px -64px; } 
.BUILDABLE\.CUBEFOUND1 { background-position: -512px -64px; } 
.BUILDABLE\.CUBEFOUND4 { background-position: -576px -64px; } 
.BUILDABLE\.CUBEFRAME { background-position: -640px -64px; } 
.BUILDABLE\.CUBEGLASS { background-position: -704px -64px; } 
.BUILDABLE\.CUBEINNERDOOR { background-position: -768px -64px; } 
.BUILDABLE\.CUBEINNERWALL { background-position: -832px -64px; } 
.BUILDABLE\.CUBELADDER { background-position: -896px -64px; } 
.BUILDABLE\.CUBEROOFCAP { background-position: -960px -64px; } 
.BUILDABLE\.CUBEROOM { background-position: -0px -128px; } 
.BUILDABLE\.CUBEROOMFLOOR { background-position: -64px -128px; } 
.BUILDABLE\.CUBEWINDOW { background-position: -128px -128px; } 
.BUILDABLE\.CUBEWINDOWOVAL { background-position: -192px -128px; } 
.BUILDABLE\.CUBEWINDOWSMALL { background-position: -256px -128px; } 
.BUILDABLE\.CURVEDCORR { background-position: -320px -128px; } 
.BUILDABLE\.DOOR { background-position: -384px -128px; } 
.BUILDABLE\.FOUNDATION { background-position: -448px -128px; } 
.BUILDABLE\.FOUNDLEG { background-position: -512px -128px; } 
.BUILDABLE\.FOUNDLEG4 { background-position: -576px -128px; } 
.BUILDABLE\.GLASSCORRIDOR { background-position: -640px -128px; } 
.BUILDABLE\.HARVESTER { background-position: -704px -128px; } 
.BUILDABLE\.HEALTHPLANT { background-position: -768px -128px; } 
.BUILDABLE\.HEALTHSTATION { background-position: -832px -128px; } 
.BUILDABLE\.HOLODOOR { background-position: -896px -128px; } 
.BUILDABLE\.INFRALADDER { background-position: -960px -128px; } 
.BUILDABLE\.INTERIORSTAIRS { background-position: -0px -192px; } 
.BUILDABLE\.LADDER { background-position: -64px -192px; } 
.BUILDABLE\.LANDINGPAD { background-position: -128px -192px; } 
.BUILDABLE\.LIGHT001 { background-position: -192px -192px; } 
.BUILDABLE\.LIGHT002 { background-position: -256px -192px; } 
.BUILDABLE\.LIGHT003 { background-position: -320px -192px; } 
.BUILDABLE\.LIGHTBLUE { background-position: -384px -192px; } 
.BUILDABLE\.LIGHTGREEN { background-position: -448px -192px; } 
.BUILDABLE\.LIGHTPINK { background-position: -512px -192px; } 
.BUILDABLE\.LIGHTRED { background-position: -576px -192px; } 
.BUILDABLE\.LIGHTWHITE { background-position: -640px -192px; } 
.BUILDABLE\.LIGHTYELLOW { background-position: -704px -192px; } 
.BUILDABLE\.MAINCUBE { background-position: -768px -192px; } 
.BUILDABLE\.MAINROOMFRAME { background-position: -832px -192px; } 
.BUILDABLE\.MESSAGE { background-position: -896px -192px; } 
.BUILDABLE\.MESSAGEMODULE { background-position: -960px -192px; } 
.BUILDABLE\.NPCBUILDER { background-position: -0px -256px; } 
.BUILDABLE\.NPCEXPLORER001 { background-position: -64px -256px; } 
.BUILDABLE\.NPCFARM { background-position: -128px -256px; } 
.BUILDABLE\.NPCSCIENCE { background-position: -192px -256px; } 
.BUILDABLE\.NPCVEHICLE { background-position: -256px -256px; } 
.BUILDABLE\.NPCWEAPON { background-position: -320px -256px; } 
.BUILDABLE\.PAVING { background-position: -384px -256px; } 
.BUILDABLE\.PAVINGTALL { background-position: -448px -256px; } 
.BUILDABLE\.PLANTER { background-position: -512px -256px; } 
.BUILDABLE\.PLANTPOT { background-position: -576px -256px; } 
.BUILDABLE\.RAMP { background-position: -640px -256px; } 
.BUILDABLE\.ROOM_SMALL { background-position: -704px -256px; } 
.BUILDABLE\.SAVEPOINT { background-position: -768px -256px; } 
.BUILDABLE\.SHIELDSTATION { background-position: -832px -256px; } 
.BUILDABLE\.SHIPSUMMON { background-position: -896px -256px; } 
.BUILDABLE\.SIGNAL { background-position: -960px -256px; } 
.BUILDABLE\.SMALLLIGHT { background-position: -0px -320px; } 
.BUILDABLE\.SOLIDCUBE { background-position: -64px -320px; } 
.BUILDABLE\.STANDPLANTER { background-position: -128px -320px; } 
.BUILDABLE\.STORAGE { background-position: -192px -320px; } 
.BUILDABLE\.TABLE001 { background-position: -256px -320px; } 
.BUILDABLE\.TABLE002 { background-position: -320px -320px; } 
.BUILDABLE\.TABLE003 { background-position: -384px -320px; } 
.BUILDABLE\.TECHPANEL { background-position: -448px -320px; } 
.BUILDABLE\.TERMINAL { background-position: -512px -320px; } 
.BUILDABLE\.TOWER { background-position: -576px -320px; } 
.BUILDABLE\.VEHICLEGARAGE { background-position: -640px -320px; } 
.BUILDABLE\.VEHICLEGARAGEL { background-position: -704px -320px; } 
.BUILDABLE\.VEHICLEGARAGES { background-position: -768px -320px; } 
.BUILDABLE\.VIEWSPHERE { background-position: -832px -320px; } 
.BUILDABLE\.WALLFAN { background-position: -896px -320px; } 
.BUILDABLE\.WALLSCREEN { background-position: -960px -320px; } 
.BUILDABLE\.WALLUNIT { background-position: -0px -384px; } 
.BUILDABLE\.WINDOW { background-position: -64px -384px; } 
.DECAL\.1 { background-position: -128px -384px; } 
.DECAL\.2 { background-position: -192px -384px; } 
.DECAL\.HELLOLOGO { background-position: -256px -384px; } 
.DECAL\.NMSLOGO { background-position: -320px -384px; } 
.DECAL\.NUM0 { background-position: -384px -384px; } 
.DECAL\.NUM1 { background-position: -448px -384px; } 
.DECAL\.NUM2 { background-position: -512px -384px; } 
.DECAL\.NUM3 { background-position: -576px -384px; } 
.DECAL\.NUM4 { background-position: -640px -384px; } 
.DECAL\.NUM5 { background-position: -704px -384px; } 
.DECAL\.NUM6 { background-position: -768px -384px; } 
.DECAL\.NUM7 { background-position: -832px -384px; } 
.DECAL\.NUM8 { background-position: -896px -384px; } 
.DECAL\.NUM9 { background-position: -960px -384px; } 
.DECAL\.VISSIMPLE1 { background-position: -0px -448px; } 
.DECAL\.VISSIMPLE2 { background-position: -64px -448px; } 
.DECAL\.VISSIMPLE3 { background-position: -128px -448px; } 
.DECAL\.VISSIMPLE4 { background-position: -192px -448px; } 
.DECAL\.VISUAL1 { background-position: -256px -448px; } 
.DECAL\.VISUAL2 { background-position: -320px -448px; } 
.DECAL\.VISUAL3 { background-position: -384px -448px; } 
.DECAL\.VISUAL4 { background-position: -448px -448px; } 
.DECAL\.VISUAL5 { background-position: -512px -448px; } 
.DECORATION\.CEILINGLIGHT { background-position: -576px -448px; } 
.DECORATION\.CORNERPOST { background-position: -640px -448px; } 
.DECORATION\.CRATELCYLINDER { background-position: -704px -448px; } 
.DECORATION\.CRATELRARE { background-position: -768px -448px; } 
.DECORATION\.CUBESHAPE { background-position: -832px -448px; } 
.DECORATION\.CURVEDDESK { background-position: -896px -448px; } 
.DECORATION\.CYLINDERSHAPE { background-position: -960px -448px; } 
.DECORATION\.DRAWS { background-position: -0px -512px; } 
.DECORATION\.FLAG1 { background-position: -64px -512px; } 
.DECORATION\.FLAG2 { background-position: -128px -512px; } 
.DECORATION\.FLAG3 { background-position: -192px -512px; } 
.DECORATION\.FLAG4 { background-position: -256px -512px; } 
.DECORATION\.FLOORMAT1 { background-position: -320px -512px; } 
.DECORATION\.LARGEDESK { background-position: -384px -512px; } 
.DECORATION\.MONITORDESK { background-position: -448px -512px; } 
.DECORATION\.PIPE { background-position: -512px -512px; } 
.DECORATION\.PIPECURV { background-position: -576px -512px; } 
.DECORATION\.PLANTPOT1 { background-position: -640px -512px; } 
.DECORATION\.PLANTPOT2 { background-position: -704px -512px; } 
.DECORATION\.PLANTPOT3 { background-position: -768px -512px; } 
.DECORATION\.PYRAMID { background-position: -832px -512px; } 
.DECORATION\.ROOFMONITOR { background-position: -896px -512px; } 
.DECORATION\.ROOMFLOOR { background-position: -960px -512px; } 
.DECORATION\.SERVERSTACK { background-position: -0px -576px; } 
.DECORATION\.SPHERESHAPE { background-position: -64px -576px; } 
.DECORATION\.WALL { background-position: -128px -576px; } 
.DECORATION\.WALLCURVED { background-position: -192px -576px; } 
.DECORATION\.WALLDOOR { background-position: -256px -576px; } 
.DECORATION\.WALLFLAG1 { background-position: -320px -576px; } 
.DECORATION\.WALLFLAG2 { background-position: -384px -576px; } 
.DECORATION\.WALLFLAG3 { background-position: -448px -576px; } 
.DECORATION\.WALLTALL { background-position: -512px -576px; } 
.DECORATION\.WEAPONRACK { background-position: -576px -576px; } 
.DECORATION\.WEDGEL { background-position: -640px -576px; } 
.DECORATION\.WEDGES { background-position: -704px -576px; } 
.RACESTART { background-position: -768px -576px; } 
.PRODUCT\.ABUMENPEARL { background-position: -832px -576px; } 
.PRODUCT\.ANTIMATTER { background-position: -896px -576px; } 
.PRODUCT\.AQUASPHERE { background-position: -960px -576px; } 
.PRODUCT\.ATLASPASS { background-position: -0px -640px; } 
.PRODUCT\.ATLASSTONE { background-position: -64px -640px; } 
.PRODUCT\.DIMENSIONMATRIX { background-position: -128px -640px; } 
.PRODUCT\.DYNAMICRES { background-position: -192px -640px; } 
.PRODUCT\.EFFIGY { background-position: -256px -640px; } 
.PRODUCT\.ELEMENT\.BASE1 { background-position: -320px -640px; } 
.PRODUCT\.ELEMENT\.CRYSTAL1 { background-position: -384px -640px; } 
.PRODUCT\.ELEMENT\.GEL2 { background-position: -448px -640px; } 
.PRODUCT\.EMP { background-position: -512px -640px; } 
.PRODUCT\.FABRIC1 { background-position: -576px -640px; } 
.PRODUCT\.FASBEAD { background-position: -640px -640px; } 
.PRODUCT\.GEKCHARM { background-position: -704px -640px; } 
.PRODUCT\.GEKNIP { background-position: -768px -640px; } 
.PRODUCT\.GEKSTATUE { background-position: -832px -640px; } 
.PRODUCT\.GEL1 { background-position: -896px -640px; } 
.PRODUCT\.GEL2 { background-position: -960px -640px; } 
.PRODUCT\.GEL3 { background-position: -0px -704px; } 
.PRODUCT\.GRAHGRAH { background-position: -64px -704px; } 
.PRODUCT\.GRAVBALL { background-position: -128px -704px; } 
.PRODUCT\.KORVAXCASING { background-position: -192px -704px; } 
.PRODUCT\.KORVAXCUBE { background-position: -256px -704px; } 
.PRODUCT\.METALLIC\.1 { background-position: -320px -704px; } 
.PRODUCT\.METALLIC\.2 { background-position: -384px -704px; } 
.PRODUCT\.METALLIC\.3 { background-position: -448px -704px; } 
.PRODUCT\.METALLIC\.4 { background-position: -512px -704px; } 
.PRODUCT\.METALLIC\.5 { background-position: -576px -704px; } 
.PRODUCT\.METALLIC\.6 { background-position: -640px -704px; } 
.PRODUCT\.METALLIC\.7 { background-position: -704px -704px; } 
.PRODUCT\.METALLIC\.SHEET1 { background-position: -768px -704px; } 
.PRODUCT\.NEUTRINO { background-position: -832px -704px; } 
.PRODUCT\.PLASMA1 { background-position: -896px -704px; } 
.PRODUCT\.SACVENOM { background-position: -960px -704px; } 
.PRODUCT\.SHIELDING1 { background-position: -0px -768px; } 
.PRODUCT\.SHIELDING2 { background-position: -64px -768px; } 
.PRODUCT\.SHIELDING3 { background-position: -128px -768px; } 
.PRODUCT\.VORTEXCUBE { background-position: -192px -768px; } 
.PRODUCT\.VYKEENDAGGER { background-position: -256px -768px; } 
.PRODUCT\.WARPCELL { background-position: -320px -768px; } 
.NANITE { background-position: -384px -768px; } 
.SUBSTANCE\.COMMODITY\.COMMON1 { background-position: -448px -768px; } 
.SUBSTANCE\.COMMODITY\.RARE1 { background-position: -512px -768px; } 
.SUBSTANCE\.COMMODITY\.UNCOMMON1 { background-position: -576px -768px; } 
.SUBSTANCE\.FUEL\.COMMON1 { background-position: -640px -768px; } 
.SUBSTANCE\.FUEL\.RARE1 { background-position: -704px -768px; } 
.SUBSTANCE\.FUEL\.UNCOMMON1 { background-position: -768px -768px; } 
.SUBSTANCE\.NEUTRAL\.COMMON1 { background-position: -832px -768px; } 
.SUBSTANCE\.NEUTRAL\.COMMON2 { background-position: -896px -768px; } 
.SUBSTANCE\.NEUTRAL\.COMMON3 { background-position: -960px -768px; } 
.SUBSTANCE\.NEUTRAL\.RARE1 { background-position: -0px -832px; } 
.SUBSTANCE\.NEUTRAL\.UNCOMMON1 { background-position: -64px -832px; } 
.SUBSTANCE\.NEUTRAL\.UNCOMMON2 { background-position: -128px -832px; } 
.SUBSTANCE\.PRECIOUS\.RARE1 { background-position: -192px -832px; } 
.SUBSTANCE\.PRECIOUS\.RARE2 { background-position: -256px -832px; } 
.SUBSTANCE\.PRECIOUS\.RARE3 { background-position: -320px -832px; } 
.SUBSTANCE\.PRECIOUS\.RARE4 { background-position: -384px -832px; } 
.SUBSTANCE\.TECH\.COMMON1 { background-position: -448px -832px; } 
.SUBSTANCE\.TECH\.RARE1 { background-position: -512px -832px; } 
.SUBSTANCE\.TECH\.UNCOMMON1 { background-position: -576px -832px; } 
.UPDATE2\.VEHSUB1 { background-position: -640px -832px; } 
.UPDATE2\.VEHSUB2 { background-position: -704px -832px; } 
.RENDER\.BINOCULARS { background-position: -768px -832px; } 
.RENDER\.BLAZEJAVELIN { background-position: -832px -832px; } 
.RENDER\.BLAZEJAVELINMOD { background-position: -896px -832px; } 
.RENDER\.CELL { background-position: -960px -832px; } 
.RENDER\.GRENADE { background-position: -0px -896px; } 
.RENDER\.GRENADEMOD { background-position: -64px -896px; } 
.RENDER\.HELMET { background-position: -128px -896px; } 
.RENDER\.HYPERDRIVE { background-position: -192px -896px; } 
.RENDER\.IONBLAST { background-position: -256px -896px; } 
.RENDER\.IONBLASTMOD { background-position: -320px -896px; } 
.RENDER\.JETPACK { background-position: -384px -896px; } 
.RENDER\.JETPACKMOD { background-position: -448px -896px; } 
.RENDER\.LANDINGGEAR { background-position: -512px -896px; } 
.RENDER\.LASER1 { background-position: -576px -896px; } 
.RENDER\.LASER1MOD { background-position: -640px -896px; } 
.RENDER\.PHASEBEAM { background-position: -704px -896px; } 
.RENDER\.PHASEBEAMMOD { background-position: -768px -896px; } 
.RENDER\.PHOTONACCEL { background-position: -832px -896px; } 
.RENDER\.PHOTONACCELMOD { background-position: -896px -896px; } 
.RENDER\.PHOTONBLAST { background-position: -960px -896px; } 
.RENDER\.PHOTONBLASTMOD { background-position: -0px -960px; } 
.RENDER\.PROJECTILE1 { background-position: -64px -960px; } 
.RENDER\.PROJECTILE1MOD { background-position: -128px -960px; } 
.RENDER\.PROTECTCOLD { background-position: -192px -960px; } 
.RENDER\.PROTECTGENERIC { background-position: -256px -960px; } 
.RENDER\.PROTECTHEAT { background-position: -320px -960px; } 
.RENDER\.PROTECTRADS { background-position: -384px -960px; } 
.RENDER\.PROTECTTOXIC { background-position: -448px -960px; } 
.RENDER\.PULSEDRIVE { background-position: -512px -960px; } 
.RENDER\.PULSESPITTER { background-position: -576px -960px; } 
.RENDER\.PULSESPITTERMOD { background-position: -640px -960px; } 
.RENDER\.RICOCHET { background-position: -704px -960px; } 
.RENDER\.SCAN { background-position: -768px -960px; } 
.RENDER\.SCATTERBLASTER { background-position: -832px -960px; } 
.RENDER\.SCATTERBLASTERMOD { background-position: -896px -960px; } 
.RENDER\.SHIELD { background-position: -960px -960px; } 
.RENDER\.SHIELDMOD { background-position: -0px -1024px; } 
.RENDER\.SHIPPROJECTILE1 { background-position: -64px -1024px; } 
.RENDER\.SHIPPROJECTILE1MOD { background-position: -128px -1024px; } 
.RENDER\.STAMINA { background-position: -192px -1024px; } 
.STAMINA\.BOOSTER { background-position: -256px -1024px; } 
.RENDER\.BOOST { background-position: -320px -1024px; } 
.RENDER\.BOOSTU1 { background-position: -384px -1024px; } 
.RENDER\.ENGINE { background-position: -448px -1024px; } 
.RENDER\.SCAN { background-position: -512px -1024px; } 
.RENDER\.SCANU1 { background-position: -576px -1024px; } 
.RENDER\.TRACTION { background-position: -640px -1024px; } 
.RENDER\.VEHICLE_GUN { background-position: -704px -1024px; } 
.RENDER\.VEHICLE_LASER { background-position: -768px -1024px; } 
.RENDER\.VEHICLE_LASERU1 { background-position: -832px -1024px; } 
.PRODUCT\.ACID { background-position: -896px -1024px; } 
.PRODUCT\.BARRENPLANT { background-position: -960px -1024px; } 
.PRODUCT\.BATTERY { background-position: -0px -1088px; } 
.PRODUCT\.CBOARD { background-position: -64px -1088px; } 
.PRODUCT\.CREATUREPLANT { background-position: -128px -1088px; } 
.PRODUCT\.CWIRE { background-position: -192px -1088px; } 
.PRODUCT\.EXPLOSIVE { background-position: -256px -1088px; } 
.PRODUCT\.GEL { background-position: -320px -1088px; } 
.PRODUCT\.GLASS { background-position: -384px -1088px; } 
.PRODUCT\.GRAVPLANT { background-position: -448px -1088px; } 
.PRODUCT\.LUBE { background-position: -512px -1088px; } 
.PRODUCT\.MPLATE { background-position: -576px -1088px; } 
.PRODUCT\.NIPBUD { background-position: -640px -1088px; } 
.PRODUCT\.NIPPLANT { background-position: -704px -1088px; } 
.PRODUCT\.PEARLPLANT { background-position: -768px -1088px; } 
.PRODUCT\.POOPPLANT { background-position: -832px -1088px; } 
.PRODUCT\.RADIOPLANT { background-position: -896px -1088px; } 
.PRODUCT\.SACVENOMPLANT { background-position: -960px -1088px; } 
.PRODUCT\.SCORCHPLANT { background-position: -0px -1152px; } 
.PRODUCT\.SFIBRES { background-position: -64px -1152px; } 
.PRODUCT\.SNOWPLANT { background-position: -128px -1152px; } 
.PRODUCT\.TOXICPLANT { background-position: -192px -1152px; } 
.SUBSTANCE\.SUBBARREN { background-position: -256px -1152px; } 
.SUBSTANCE\.SUBBLUESYS { background-position: -320px -1152px; } 
.SUBSTANCE\.SUBCAVE { background-position: -384px -1152px; } 
.SUBSTANCE\.SUBCREATURE { background-position: -448px -1152px; } 
.SUBSTANCE\.SUBDRONE { background-position: -512px -1152px; } 
.SUBSTANCE\.SUBGREENSYS { background-position: -576px -1152px; } 
.SUBSTANCE\.SUBPOOP { background-position: -640px -1152px; } 
.SUBSTANCE\.SUBRADIOACTIVE { background-position: -704px -1152px; } 
.SUBSTANCE\.SUBREDSYS { background-position: -768px -1152px; } 
.SUBSTANCE\.SUBSCORCHED { background-position: -832px -1152px; } 
.SUBSTANCE\.SUBSHIP { background-position: -896px -1152px; } 
.SUBSTANCE\.SUBSNOW { background-position: -960px -1152px; } 
.SUBSTANCE\.SUBTOXIC { background-position: -0px -1216px; } 
.SUBSTANCE\.SUBWATER { background-position: -64px -1216px; } 
.TECH\.POWERGLOVE { background-position: -128px -1216px; } 
.TECH\.STRONGLASER { background-position: -192px -1216px; } 
